.register__input {
    margin: 57px 0 0 0;
    width: 358px;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255);
    background-color: #000000;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .register__input:focus {
    outline: none;
  }
  