.profile__occupation {
  margin: 0;
  max-width: 100%;
  padding-top: 4px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .profile__occupation {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
  }
}
