.root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000000;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 200px 0 200px;

  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1000px) {
  .root {
    padding: 0 100px 0 100px;
  }
}

@media screen and (max-width: 800px) {
  .root {
    padding: 0;
  }
}
