.profile__info-line {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  .profile__info-line {
    margin: 0;
    max-width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__info-line {
    padding-left: 30px;
  }
}

