.elements {
  max-width: 100%;
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3,calc((100% - 35px)/3));
  gap: 20px 17px;
}

@media screen and (max-width: 800px) {
  .elements {
    padding: 47px 20px 0 20px;
    grid-template-columns: repeat(2,calc((100% - 20px)/2));
  }
}

@media screen and (max-width: 600px) {
  .elements {
    padding-top: 36px;
    grid-template-columns: 100%;
    gap: 21px;
  }
}
