.elements__like {
  width: 22px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: url("../../../images/like.svg");
  border: 0px;
}

.elements__like:hover {
  opacity: .5;
  cursor: pointer;
}
